{% extends "base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}

<script>
// websocket scripts
console.log(window.location);
let loc = window.location;
let wsStart = 'ws://';
if (loc.protocol === 'https:'){
    wsStart = 'wss://'
}
let endpoint = wsStart + loc.host + loc.pathname;
let socket = new WebSocket(endpoint);

{#socket.onmessage;#}
{#socket.onopen;#}
{#socket.onerror;#}
{#socket.onclose;#}

socket.onmessage = e => {
    console.log('message', e)
};
socket.onopen = e => {
    console.log('socket open', e)
};
socket.onerror = e => {
    console.log('socket error', e)
};
socket.onclose = e => {
    console.log('socket closing', e)
}


</script>
{% endblock %}